body {
  padding: 0;
  margin: 0;
}

/** Header styles **/

.open-page {
  top:0;
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  background: url('bg_blue.jpeg');
  background-position: center left;
  background-size: cover;
  background-attachment: fixed;
}

.game-page {
  top:0;
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  background: url('gb_pink.jpeg');
  background-position: center left;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  padding-bottom: 200px;
  padding-left: 10%;
  padding-right: 50%;
  padding-top: 15%;
  color: white;
  font-family: 'Bellefair', serif;
  text-align: left;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
}

.header button {
  text-transform: uppercase;
  color: white;
  border-color: white;
  background-color: transparent;
  font-size: 24px;
  font-family: Arial, sans-serif;
  padding: 16px 36px;
  margin:0 0 5% 82%;
  text-decoration: none;
  border-width: thin;
  border-style: solid;
  letter-spacing: 4px;
}

.header button:hover {
  background-color: white;
  color:#5984D1;
}

@media only screen and (max-width: 900px) {
  .header {
    padding-right: 10%;
    padding-top: 25%
  }

  .header button {
    margin:40px 0;
  }
}

@media only screen and (max-width: 650px) {
  .header button {
    padding: 8px 16px;
    margin: 0;
  }
}

@media only screen and (min-width: 1610px) {
  .header {
    padding-bottom: 400px;
  }
}

h1 {
  font-size: 100px;
  font-weight: 100;
  line-height: 0px;
  text-indent: 0px;
}

h3 {
  font-size: 20px;
  font-weight: 100;
}

a {
  text-decoration: none;
  color:inherit;
}


/* Table styles */

.gameboard {
  min-width: 250px;
  padding-top: 1%;
  color: white;
  font-family: 'Bellefair', serif;
  text-align: left;
  position: top;
}

.gameboard h1 {
  font-size: 54px;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
}


#MK1 {
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
}

#MK {
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  position: fixed;
}

@media only screen and (max-width: 900px) {
  #MK {
    position:static;
  }
}

table {
  border-style: solid;
  border-width: thin;
  border-color: white;
  width:95%;
  max-width: 600px;
  height: 400px;
  margin: 0 auto;
  table-layout: fixed;
  padding: 10px;
  background-color: rgba(250, 250, 250, 0.5);
  border-spacing: 0;
}

@media only screen and (max-width: 550px) {
  table {
    padding: 0;
    width: 500px;
    height: 333px;
  }
}

@media only screen and (max-width: 510px) {
  table {
    padding: 0;
    width: 400px;
    height: 267px;
  }
}

@media only screen and (max-width: 410px) {
  table {
    padding: 0;
    width: 300px;
    height: 200px;
  }
}

td {
  border-style: solid;
  border-width: thin;
  border-color: white;
  width: 2%;
  background-color: rgba(28, 13, 114, 0.5);
  color:white;
  font-size: 32px;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.found {
  background-color: rgba(95, 79, 190, 0.5);
  color: rgb(10, 10, 100);
  text-shadow: none;
}

.marked {
  color: black;
  background-color: transparent;
  text-shadow: none;
}


/* Hints styles */

.hints {
  height:300px;
  width: 95%;
  max-width: 600px;
  margin:0 auto;
  margin-top: 25px;
  color: black;
  font-family: 'Bellefair', serif;
  font-size: 24px;
  text-transform: uppercase;
  word-spacing: 1em;
  line-height: 1.5em;
  text-align: center;
}

@media only screen and (max-width: 550px) {
  .hints {
    word-spacing: 0.2em;
    line-height: 1.1em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  .hints {
    word-spacing: normal;
  }
}

@media only screen and (min-width: 1610px) {
  .hints {
    padding-bottom: 200px;
  }
}

.hints p {
  padding: 10px, 20px;
  background-color: rgba(250, 250, 250, 0.5);
  border-style: solid;
  border-width: thin;
  border-color: white;
}


/* Scoreboard styles */

.score-board {
  width: 90%;
  max-width: 550px;
  margin:0 auto;
  color: black;
  font-family: 'Bellefair', serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 550px) {
  #score-board {
    position:static;
  }
}

#choose-level {
}

.levels {
  font-size: 20px;
  line-height: 2em;
  color: gray;
  background-color: rgb(250, 250, 250);
  position: fixed;
  top:100px;

  border-style: solid;
  border-color: white;
  border-width: thin;
}

.levels ol {
  padding: 0;
  margin:0 auto;
}

.levels li {
  list-style: georgian;
  display:block;
  text-align: left;
  padding: 0 25px 0 20px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.levels li:hover {
  background-color: rgba(255,184,115,0.35);
}

.score-board p {
  text-align: center;
}

.total-score {
  color: gray;
}

.score-board button {
  text-transform: uppercase;
  color: white;
  background: linear-gradient(45deg, rgba(255,184,115,0.2) 0%,rgba(255,124,189,0.2) 50%,rgba(108,0,153,0.2) 100%);
  font-size: 16px;
  font-family: Arial, sans-serif;
  padding: 8px 16px;
  margin:40px 0;
  text-decoration: none;
  border-width: thin;
  border-style: solid;
  border-color: white;
}

.score-board button:hover {
  background-color: rgba(255,184,115,0.35);
}


/* New game styles */

.end {
  position: fixed;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -70%);
  /*
  top three rows: to center horizontally (& more or less ver also)
  */
  color: black;
  font-family: 'Bellefair', serif;
  font-size: 24px;
  background-color: rgb(250, 250, 250);
  border-style: solid;
  border-width: thin;
  border-color: rgba(69, 57, 137, 0.3);
  text-align: center;
  line-height: 1em;
  padding: 0 2%;
  box-sizing: border-box;
}

#level-info {
  color: gray;
}

@media only screen and (max-width: 510px) {
  .end {
    width: 300px;
    transform: translate(-50%, -50%);
  }
}

.end button {
  color:white;
  margin:0 0 30px 0;
  font-size: 16px;
  background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
  text-transform: uppercase;
  border-color: white;
  font-family: Arial, sans-serif;
  padding: 8px 16px;
  text-decoration: none;
  border-width: thin;
  border-style: solid;
}

.end button:hover {
  background-color: rgba(255,184,115,0.65);
  color: white;
}

/* flying faces */

.gameboard img {
  position: fixed;
  top: 50%;
  left: 20%;
  border-style: solid;
  border-color: white;
  border-width: thin;
  padding: 10px;
  background-color: rgba(250, 250, 250, 0.5);
}
